.header {
  background-color: #0070ff;
  padding: 20px 30px;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navigation {
  display: flex;
  gap: 40px;

  & a,
  & .linkButton {
    font-size: 1.2rem;
    transition: 0.3s;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: 0;
    font-family: inherit;

    &:hover {
      transition: 0.3s;
      opacity: 0.5;
    }
  }
}

.userInfo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.logButton {
  background-color: #fff;
  color: #0070ff;
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  font-size: 1.2rem;

  &:hover {
    transition: 0.3s;
    background-color: #a4a4a4;
    color: #ffffff;
  }
}

a.active {
  color: rgb(25, 238, 238);
}
